body {
    background-color: white;
    margin: 0;
    padding-bottom: 25px;
}

.header {
    padding-top: 25px;
}

.title {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 45px;
    color: rgb(29, 28, 26);

}

.topnav {
    background-color: #a51c30;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 20px;
}

.navlink {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.header {
    background-image: url(./images/goose-creek.webp);
    background-size: cover;
    height: auto;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.about {
    line-height: 20px;
    padding-left: 10px;
}

.welcome {
    line-height: 20px;
    padding-left: 10px;
}

.hobbies {
    line-height: 20px;
    padding-left: 10px;
}
